development:
  adapter: mysql
  database: sallly
  host: localhost
  username: root
  port: 3306
test:
  adapter: mysql
  database: sallly
  host: localhost
  username: root
  port: 3306
production:
  adapter: mysql
  database: sallly
  host: localhost
  username: root
  port: 3306
