<h1>Incoming Cold Call</h1>
<div class="modal" id="myModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h2>Incoming Cold Call</h2>
    <h3>Tips &amp; CRM Data</h3>
  </div>
  <div class="modal-body">
    <div class="crmData column">
      <textarea><%= @event.lead.crm_notes %></textarea>
      <p>This field contains sales tips and your CRM hosted Data</p>
    </div>
    <%=render :partial=>'user_details', :locals => {:event => @event}%>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary accept" data-id="<%=@event.id%>">End</a>
  </div>
</div>
<script>
  function endCall(event_id){
  	$.ajax({
  		dataType: 'script',
  		type: 'get',
  		url: "events/end/"+event_id
  	});
  };
  
  $(".accept").click(function(){
    event_id = $(this).attr("data-id");
    endCall(event_id);
    return false;
  });
</script>