<h1>Incoming Call</h1>
<div class="modal" id="myModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Incoming Call</h3>
  </div>
  <div class="modal-body">
    <p>Form with information comes here.</p>
    <textarea></textarea>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Ignore</a>
    <a href="#" class="btn btn-primary">Accept</a>
  </div>
</div>