
<link rel="stylesheet" href="/assets/stylesheets/calendar.css" type="text/css" media="screen" />
<!--[if lte IE 8]><link rel="stylesheet" href="http://html5advent.com/assets/css/ie8.css" type="text/css" media="screen" /><![endif]-->
<!--[if lte IE 6]><link rel="stylesheet" href="http://html5advent.com/assets/css/ie6.css" type="text/css" media="screen" /><![endif]-->
<% @year        = 2012 %>
<% @month       = 4 %>
<% @daysInMonth = (Date.new(@year, 12, 31) << (12-@month)).day %>
<% @startDay    = (Time.local(@year, @month, 1)).wday %>

<section id="calendar">
	<ul class="calendar-month">
		<li class="day header">
			Monday
		</li>
		<li class="day header">
			Tuesday
		</li>
		<li class="day header">
			Wednesday
		</li>
		<li class="day header">
			Thursday
		</li>
		<li class="day header">
			Friday
		</li>
		<li class="day header">
			Saturday
		</li>
		<li class="day header">
			Sunday
		</li>
		
		<li class="indent-<%= @startDay %> day event" data-controls-modal="day-1" data-backdrop="true" data-keyboard="true">1</li>
		
		<% (2..@daysInMonth).each do |day| %>			
			<li class="day" data-controls-modal="day-<%= day %>" data-backdrop="true" data-keyboard="true"><h4><%= day %></h4></li>
		<% end %>
	</ul>
</section>
    


    <article>
    	<section id="day-1" class="modal hide fade">
    		<section class="modal-header">
    			<a href="#" class="close">&times;</a>
    			<h3>01-February-2012</h3>
    		</section>
    		<section class="modal-body">
    			<p>Hello World!!</p>
    		</section>
    		<section class="modal-footer">
    			<a href="#" class="btn">Deny</a>
    			<a href="#" class="btn primary">Accept</a>
    		</section>
    	</section>
    </article>
<script type="text/javascript" src="/assets/javascript/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/assets/javascript/bootstrap-modal.js"></script>