<link rel='stylesheet' type='text/css' href='/assets/stylesheets/calendar.css' />
<script type="text/javascript" src="/assets/javascript/jquery-ui-timepicker-addon.js"></script>
<script type='text/javascript' src='/assets/javascript/fullcalendar/fullcalendar.js'></script>

<style type="text/css"> 
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
</style>
<script type="text/javascript">
  function initMenu() {
    var block = $(".day");
	  block.addClass("clickable");
    $('.open').hide();
    block.click(function() {
		  $(this).parents('div:eq(0)').find('.open').slideToggle('slow');	
	  };
	}
  $('#cal').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		editable: true,
		events: "/get_events.json",
            dayClick: function(date, allDay, jsEvent, view) {
              newEvent();
            },
            eventClick: function(event, jsEvent, view){
              editEvent(event.event_id);
            }
	});
	function set_type(type){
    $("#event_eventtype").val(type);
  }
</script>
<div id="myModal" class="modal hide fade"></div>
<div id='cal' style="width:
100%">
</div>
<script>
  function editEvent(event_id){
  	$.ajax({
  		dataType: 'script',
  		type: 'get',
  		url: "events/"+ event_id +"/edit"
  	});
  };
  
  function newEvent(){
  	$.ajax({
  		dataType: 'script',
  		type: 'get',
  		url: "events/new"
  	});
  };
  
  function initDateTimePicker() {
    $('#from').datetimepicker({
      timeFormat: "hh:mm:ss",
      dateFormat: "yy-mm-dd",
      onClose: function(dateText, inst) {
        var endDateTextBox = $('#to');
        if (endDateTextBox.val() != '') {
          var testStartDate = new Date(dateText);
          var testEndDate = new Date(endDateTextBox.val());
          if (testStartDate > testEndDate)
            endDateTextBox.val(dateText);
        }
        else {
          endDateTextBox.val(dateText);
        }
      },
      onSelect: function (selectedDateTime){
        var start = $(this).datetimepicker('getDate');
        $('#from').datetimepicker('option', 'minDate', new Date(start.getTime()));
      }
    });
    
    $('#to').datetimepicker({
      timeFormat: "hh:mm:ss",
      dateFormat: "yy-mm-dd",
      onClose: function(dateText, inst) {
        var startDateTextBox = $('#from');
        if (startDateTextBox.val() != '') {
            var testStartDate = new Date(startDateTextBox.val());
            var testEndDate = new Date(dateText);
            if (testStartDate > testEndDate)
                startDateTextBox.val(dateText);
        }
        else {
            startDateTextBox.val(dateText);
        }
      },
      onSelect: function (selectedDateTime){
        var end = $(this).datetimepicker('getDate');
        $('#from').datetimepicker('option', 'maxDate', new Date(end.getTime()) );
      }
    });
  };
</script>
