<link rel='stylesheet' type='text/css' href='/assets/stylesheets/fullcalendar/fullcalendar.css' />
<script type='text/javascript' src='/assets/javascript/fullcalendar/fullcalendar.js'></script>

<script type='text/javascript'>
	$(document).ready(function() {	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
    var all_events = [<%= print_events%> ]		
		$('#cal').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: true,
			events: all_events
		});
		
	});
</script>

<div id='cal' style="width:750px;margin: 0 auto;">
</div>
