<!--Footer-->
<footer>
  <!--Footer menu-->
  <ul>
  	<!--Pricingplans page-->
    <li><a href="#">Pricing plan</a></li> |
    <!--FAQ page--> 
    <li><a href="#">FAQ</a></li> |
    <!--Contact page-->
    <li><a href="<%= contact_path %>">Contact</a></li> |
    <!--About page-->
    <li><a href="<%= about_path %>	">About</a></li>
  </ul>
  <!--Copyright disclaimer-->
  <p id="copyright">&copy; Copyright 2012 by Sallly.</p>
</footer>