<h1>About</h1>
<p>
	Sallly is a task- management system specialized in sales. There is an absolute relation between activities and the amount of revenue your business gaines. Sallly reminds you of all the sales activities you can do during your spare time. <a href="Sallly.com">feedback</a>.
</p>