<h1>About</h1>
<p>
	Sallly is a task- management system specialized in sales. Sallly reminds you of all the sales activities you can do during your spare time as your personal sales assistant. Activity based selling is the key feature of Sallly. . <a href="Sallly.com">feedback</a>.
</p>