<div class="row-fluid">
  <h2>Sallly</h2>
  <p>
    Sallly is a gamified taskmanager for salespeople
  </p>
  <p>
    Sales is hard! Especially when you are not experienced enough in sales and you must pay the bills for your business. Sallly is a tool that changes human behaviour and makes sales fun again. Sallly keeps you motivated either you win or lose a deal by adding game mechanics to the task manager.
  </p>
  <p>
    Sallly extract your CRM lead and prospect data and pushes it to the user. The only thing user has to is just accept the fact that a cold call will take place. When accepted your ranking will go up. If you don't accept your ranking goes down. For each activity that has been closed successful the user achieves point, that unlock all kinds of trainings and cool stuff
  </p>
</div>
