
<%=javascript_include_tag "/assets/raphael-min.js", "heart.js", "/assets/g.raphael.js", "/assets/g.bar.js" %>
<script>
            window.onload = function () {
                var r = Raphael("holder"),
                    fin = function () {
                        this.flag = r.popup(this.bar.x, this.bar.y, this.bar.value || "0").insertBefore(this);
                    },
                    fout = function () {
                        this.flag.animate({opacity: 0}, 300, function () {this.remove();});
                    },
                    txtattr = { font: "12px sans-serif" };
                    
                r.setSize(300, 118);
                
                r.barchart(0, 10, 300, 105, [[1000, 1170, 660, 1030], [400, 460, 1120, 540]]).hover(fin, fout);
                
                r.text(41, 105, "Tasks").attr(txtattr);
                r.text(114, 105, "Proactive").attr(txtattr);
                r.text(185, 105, "Ranking").attr(txtattr);
                r.text(257, 105, "Goal").attr(txtattr);
            };
        </script>

<h1>Activity monitor</h1>
<section class="row info">
    <section class="span3 well first">
        <h4>Heart rate</h4>
        <div id="monitor"></div>
        <div class="bpm pull-right" />
    </section>
    <section class="span4 well">
        <h4>Activities</h4>
        <div id="holder" width="300" height="150"></div>
    </section>
    <section class="span3 well">
        <h4>Saleschance</h4>
		
      
    </section>
</section>

<section class="row">
	<section class="span7">
    	<a data-toggle="modal" class="btn btn-primary addNewEvent" href="#"><i class="icon-plus"></i> Add Task</a>
    </section>
    <section class="span5">
	    <div class="legenda others"></div> Others
	    <div class="legenda quotes"></div> Quotes
	    <div class="legenda visits"></div> Visits
	    <div class="legenda calls"></div> Cold calls
    </section>
</section>

<section class="row">
    <section class="span9 first">
        <%= render 'shared/calendar' %>
    </section>
    <section class="span3">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Upcoming events</th>
                </tr>
            </thead>
            <tbody>
                <% current_user.events.each do |event| %>
                    <tr>
                        <td><%= event.title %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </section>
</section>

</body>
</html>