<h1>Status</h1>
<section class="row">
    <section class="span8 info">
        <h3>Information</h3>
        <span>Information about your status</span>
        <section>
            <h4>Heart rate</h4>
        </section>
        <section>
            <h4>Activities</h4>
        </section>
        <section>
            <h4>Ranking</h4>
        </section>
    </section>
    <section class="span8 chart">
        <h3>Schedular</h3>
        <span>Your revenue so far
        <%= image_tag 'images/calendar.png', :class => "span8" %>
    </section>
</section>