<script type="text/javascript">
  $(function() {
    var client = new Faye.Client('http://localhost:9292/faye');
    client.subscribe("<%= task_path %>", function(data) {
      $('#myModal').modal('show');
    });
  });
</script>

<h1>Cold call event</h1>
<div class="modal hide" id="myModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Cold call event</h3>
  </div>
  <div class="modal-body">
    <p>Form with information comes here.</p>
    <textarea></textarea>
	
	<!-- <div id="wrap" style="float:right; margin-right:30px">
		<label for="name">Name</label><input type="text" name="first-name" id="first-name">
		<label for="name">Family Name</label><input type="text" name="last-name" id="last-name">
		<label for="city">City</label><input type="text" name="city" id="city">
		<label for="email">Email</label><input type="text" name="email" id="email">
		<label for="address">Address</label><input type="text" name="address" id="address">
		<label for="phone">Phone</label><input type="text" name="phone" id="phone">		
	</div> -->
	
	<div id="wrap" style="float:right; margin-right:30px">
		<table border="0" cellspacing="5" cellpadding="5">
			<tr>
				<td>Name</td>
				<td>Kasem</td>
			</tr>
			<tr>
				<td>Family Name</td>
				<td>Chaliou</td>
			</tr>
			<tr>
				<td>City</td>
				<td>Amsterdam</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>Kasem@hotmale.com</td>
			</tr>
			<tr>
				<td>Phone</td>
				<td>0651012178</td>
			</tr>
		</table>
	</div>

	
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>