
<link rel="stylesheet" href="http://html5advent.com/assets/css/common.css" type="text/css" media="screen" />
<!--[if lte IE 8]><link rel="stylesheet" href="http://html5advent.com/assets/css/ie8.css" type="text/css" media="screen" /><![endif]-->
<!--[if lte IE 6]><link rel="stylesheet" href="http://html5advent.com/assets/css/ie6.css" type="text/css" media="screen" /><![endif]-->

<section id="calendar">
        <ul class="component-calendar">
            <li class="indent-5 active color1">
                <a href="#day01">
                    <span class="day"><strong>01</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>01</small>
                        <img src="assets/images/thumb-01.jpg" width="126" height="91" alt="" />
                        <strong>Ball Pool</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color2">
                <a href="#day02">
                    <span class="day"><strong>02</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>02</small>
                        <img src="assets/images/thumb-02.jpg" width="126" height="91" alt="" />
                        <strong>20 Things</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color3">
                <a href="#day03">
                    <span class="day"><strong>03</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>03</small>
                        <img src="assets/images/thumb-03.jpg" width="126" height="91" alt="" />
                        <strong>Agent 008 Ball</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color4">
                <a href="#day04">
                    <span class="day"><strong>04</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>04</small>
                        <img src="assets/images/thumb-04.jpg" width="126" height="91" alt="" />
                        <strong>HTML5 Ninjas</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color1">
                <a href="#day05">
                    <span class="day"><strong>05</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>05</small>
                        <img src="assets/images/thumb-05.jpg" width="126" height="91" alt="" />
                        <strong>The Killers HTML5</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color2">
                <a href="#day06">
                    <span class="day"><strong>06</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>06</small>
                        <img src="assets/images/thumb-06.jpg" width="126" height="91" alt="" />
                        <strong>The Endless Mural</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color3">
                <a href="#day07">
                    <span class="day"><strong>07</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>07</small>
                        <img src="assets/images/thumb-07.jpg" width="126" height="91" alt="" />
                        <strong>Socket 2 'Em</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color4">
                <a href="#day08">
                    <span class="day"><strong>08</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>08</small>
                        <img src="assets/images/thumb-08.jpg" width="126" height="91" alt="" />
                        <strong>&lt;video&gt; + &lt;canvas&gt;</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color1">
                <a href="#day09">
                    <span class="day"><strong>09</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>09</small>
                        <img src="assets/images/thumb-09.jpg" width="126" height="91" alt="" />
                        <strong>Atomic HTML5</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color2">
                <a href="#day10">
                    <span class="day"><strong>10</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>10</small>
                        <img src="assets/images/thumb-10.jpg" width="126" height="91" alt="" />
                        <strong>Comic &lt;script&gt;</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color3">
                <a href="#day11">
                    <span class="day"><strong>11</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>11</small>
                        <img src="assets/images/thumb-11.jpg" width="126" height="91" alt="" />
                        <strong>Canvas Rider</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color4">
                <a href="#day12">
                    <span class="day"><strong>12</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>12</small>
                        <img src="assets/images/thumb-12.jpg" width="126" height="91" alt="" />
                        <strong>Blank Canvases</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color1">
                <a href="#day13">
                    <span class="day"><strong>13</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>13</small>
                        <img src="assets/images/thumb-13.jpg" width="126" height="91" alt="" />
                        <strong>HTML5 Cosmos</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color2">
                <a href="#day14">
                    <span class="day"><strong>14</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>14</small>
                        <img src="assets/images/thumb-14.jpg" width="126" height="91" alt="" />
                        <strong>Print meets Web</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color3">
                <a href="#day15">
                    <span class="day"><strong>15</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>15</small>
                        <img src="assets/images/thumb-15.jpg" width="126" height="91" alt="" />
                        <strong>HTML5 &lt;audio&gt;</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color4">
                <a href="#day16">
                    <span class="day"><strong>16</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>16</small>
                        <img src="assets/images/thumb-16.jpg" width="126" height="91" alt="" />
                        <strong>WebGL</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color1">
                <a href="#day17">
                    <span class="day"><strong>17</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>17</small>
                        <img src="assets/images/thumb-17.jpg" width="126" height="91" alt="" />
                        <strong>&lt;audio&gt; Visual</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color2">
                <a href="#day18">
                    <span class="day"><strong>18</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>18</small>
                        <img src="assets/images/thumb-18.jpg" width="126" height="91" alt="" />
                        <strong>Pirates &hearts; Daisies</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color3">
                <a href="#day19">
                    <span class="day"><strong>19</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>19</small>
                        <img src="assets/images/thumb-19.jpg" width="126" height="91" alt="" />
                        <strong>Spirit of Indiana</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color4">
                <a href="#day20">
                    <span class="day"><strong>20</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>20</small>
                        <img src="assets/images/thumb-20.jpg" width="126" height="91" alt="" />
                        <strong>FlowerOscope</strong>
                    </span>
                </a>
            </li>
            
             <li class="active color1">
                <a href="#day21">
                    <span class="day"><strong>21</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>21</small>
                        <img src="assets/images/thumb-21.jpg" width="126" height="91" alt="" />
                        <strong>Snowball Fight!</strong>
                    </span>
                </a>
            </li>
          
             <li class="active color2">
                <a href="#day22">
                    <span class="day"><strong>22</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>22</small>
                        <img src="assets/images/thumb-22.jpg" width="126" height="91" alt="" />
                        <strong>MONA</strong>
                    </span>
                </a>
            </li>
            
            <li class="active color3">
                <a href="#day23">
                    <span class="day"><strong>23</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>23</small>
                        <img src="assets/images/thumb-23_2.png" width="126" height="91" alt="" />
                        <strong>Flight of the Navigator</strong>
                    </span>
                </a>
            </li>
            
           <li class="active color4">
                <a href="#day24">
                    <span class="day"><strong>24</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>24</small>
                        <img src="assets/images/thumb-24.jpg" width="126" height="91" alt="" />
                        <strong>Snow Globe-o-Matic</strong>
                    </span>
                </a>
            </li>
            
           <li class="active color4">
                <a href="#day25">
                    <span class="day"><strong>25</strong><span>&nbsp;</span></span>
                    <span class="content">
                        <small>25</small>
                        <img src="assets/images/thumb-25.jpg" width="126" height="91" alt="" />
                        <strong>Snow Globe-o-Matic</strong>
                    </span>
                </a>
            </li>
          
        </ul>
    </section>
    


    <article>
    <div class="daydetail">
        <ul class="daydetail-list">
            <li>
                
                <section>
                <h1>Day 1</h1>
                <div id="day01" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>Project</h2>
                            <h3>Ball Pool</h3>
                        </hgroup>
                        <p><a href="http://mrdoob.com/projects/chromeexperiments/ball_pool/" target="_blank">http://mrdoob.com/projects/chromeexperiments/ball_pool/</a></p>
                        <h4>Description</h4>
                        <p><a href="http://mrdoob.com/" target="_blank">MrDoob</a> is known for Flash projects, and recently some great HTML5 work. This project shows the power of HTML5 through the physics of collision detection &amp; gravity.</p>
                        <ul class="list-nobull">
                            <li>Drag the balls around.</li>
                            <li>Click the background to add new objects.</li>
                            <li>Shake your browser to see feedback.</li>
                            <li>Double click any object to refresh with a new color scheme.</li>
                        </ul>
                    </div>
                    <div class="left">
                        <a href="http://mrdoob.com/projects/chromeexperiments/ball_pool/" target="_blank"><img src="assets/images/detail-thumb-1.jpg" width="356" height="410" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 2</h1>
                <div id="day02" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>Project</h2>
                            <h3>20 Things I Learned About Browsers And The Web</h3>
                        </hgroup>
                        <p><a href="http://www.20thingsilearned.com" target="_blank">http://www.20thingsilearned.com</a></p>
                        <h4>Description</h4>
                        <p>A great interactive experience created by Google and <a href="http://www.f-i.com" target="_blank">Fantasy Interactive</a></p>
                        <p>What's a cookie? How do I protect myself on the web? What happens if a truck runs over my laptop? + Much more explained in this HTML5 book complete with CSS3 animated illustrations.</p>
                    </div>
                    <div class="left">
                        <a href="http://www.20thingsilearned.com" target="_blank"><img src="assets/images/detail-thumb-2.jpg" width="356" height="410" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 3</h1>
                <div id="day03" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>Project</h2>
                            <h3>Agent 008 Ball</h3>
                        </hgroup>
                        <p><a href="http://agent8ball.com" target="_blank">http://agent8ball.com</a></p>
                        <h4>Description</h4>
                        <p>Showing the power of HTML5, see this amazing billiards game, created by <a href="http://thinkpixellab.com" target="_blank">Pixel Lab</a> complete with a James Bond-esqe theme.</p>
                    </div>
                    <div class="left">
                        <a href="http://agent8ball.com" target="_blank"><img src="assets/images/detail-thumb-3.jpg" width="356" height="410" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 4</h1>
                <div id="day04" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 4th</h2>
                            <h3>HTML5 Ninja Games</h3>
                        </hgroup>
                        <p>Nothing says Christmas like ninjas, right? Ninja games are sooo hot right now. Go test your foo, fool!</p>
                        <p>
                            <a href="http://code.bocoup.com/js-ninja" target="_blank">http://code.bocoup.com/js-ninja</a> by <a href="http://twitter.com/#!/f1lt3r" target="_blank">@F1LT3R</a><br />
                            Build up your chi-force by thowing your arms into some crazy ninja spins. Don't hit yourself in the head!
                        </p>
                        <p>
                            <a href="http://mikerotondo.com/ninjaleap" target="_blank">http://mikerotondo.com/ninjaleap</a> by <a href="http://twitter.com/mrotondo" target="_blank">@mrotondo</a> and <a href="http://twitter.com/#!/ganz" target="_blank">@ganz</a><br />
                            Protect your village from the evil assasins.
                        </p>
                    </div>
                    <div class="left">
                        <a href="http://code.bocoup.com/js-ninja" target="_blank"><img src="assets/images/detail-thumb-4a.jpg" width="356" height="264" alt="" /></a>
                        <a href="http://mikerotondo.com/ninjaleap" target="_blank"><img src="assets/images/detail-thumb-4b.jpg" width="356" height="146" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 5</h1>
                <div id="day05" class="daydetail-content">
                    <div class="right">
                            <h2>The Killers HTML5</h2>
                        <p>Hmmm…does technical strife break out in bands?  The Killers have an <a href="http://www.thekillersmusic.com/html5" target="_blank">HTML5 site</a> and their currently soloing front-man Brandon Flowers is <a href="http://www.brandonflowersmusic.com" target="_blank">pushing some Flash at us</a>. What does it all mean? <a href="http://www.sparkart.com" target="_blank">Sparkart</a> the site builder in both cases  <a href="http://www.sparkart.com/read/all/sparkart_produces_groundbreaking_new_website_for_the_killers" target="_blank">broke HTML5 band site ground</a> and uses it on their own site, so one wonders if Brandon Flowers is just a Flash lover?</p>
                        <p>Caution: <a href="http://www.thekillersmusic.com/html5" target="_blank">thekillersmusic.com/html5</a> is a bit CPU intensive.</p>
                    </div>
                    <div class="left">
                        <a href="http://www.thekillersmusic.com/html5" target="_blank"><img src="assets/images/detail-thumb-5.jpg" width="356" height="410" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 6</h1>
                <div id="day06" class="daydetail-content">
                    <div class="right">
                        <h2>Endless Mural/Okapi</h2>
                        <p>The folks at <a href="http://twitter.com/#!/mixonline" target="_blank">@mixonline</a> teamed up with artist <a href="http://www.joshuadavis.com" target="_blank">Joshua Davis</a> and <a href="http://automatastudios.com" target="_blank">Branden Hall</a> to create a global art collaboration tool, all using Okapi. What's <a href="http://www.okapijs.org" target="_blank">Okapi</a>, you ask? It's an "open-source framework for building digital, generative art in HTML5" of course. Sounds like an adventure to us.</p>
                        <p>What's cooler: <a href="http://twitter.com/#!/mixonline" target="_blank">@mixonline</a> is giving away prizes for the best design submitted before December 15, 2010. So get <a href="http://okapi.visitmix.com" target="_blank">digitally generative</a>!</p>
                        <p class="nomargin">Links:</p>
                        <ul class="list-nobull">
                            <li><a href="http://www.endlessmural.com" target="_blank">Check out the Endless Mural</a></li>
                            <li><a href="http://twitter.com/#!/mixonline" target="_blank">Follow MIX Online</a></li>
                            <li><a href="http://twitter.com/#!/joshuadavis" target="_blank">Follow Joshua Davis</a></li>
                            <li><a href="http://twitter.com/#!/waxpraxis" target="_blank">Follow Branden Hall</a></li>
                        </ul>
                    </div>
                    <div class="left">
                        <a href="http://www.endlessmural.com" target="_blank"><img src="assets/images/detail-thumb-6.jpg" width="356" height="410" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 7</h1>
                <div id="day07" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 7th</h2>
                            <h3>Socket 2 'Em</h3>
                        </hgroup>
                        <p>Today we celebrate the WebSocket API which is moving us towards a more realistic real-time web without constant polling, endless iframes or other Comet-like tricks – Just establish a WebSocket and communicate bi-directionally with ease. Some simple examples to check out are <a href="http://websockets.org/echo.html" target="_blank">http://websockets.org/echo.html</a> and <a href="http://html5demos.com/web-socket" target="_blank">http://html5demos.com/web-socket</a> (<a href="http://twitter.com/#!/rem" target="_blank">via @rem</a>).</p>
                        <p>WordSquared (<a href="http://wordsquared.com" target="_blank">http://wordsquared.com</a>): WordSquared is a Massively multiplayer online word game born out of the Node.js Knockout contest. In other words, it's like Words-with-Friends and World of Warcraft had an HTML5 baby. Whatever it is, it's highly addictive so be careful. (via <a href="http://twitter.com/#!/aviel" target="_blank">@aviel</a> <a href="http://twitter.com/#!/ggoodale" target="_blank">@ggoodale</a> and <a href="http://twitter.com/#!/railsjedi" target="_blank">@railsjedi</a>)</p>
                        <p>Rawkets (<a href="http://rawkets.com" target="_blank">http://rawkets.com</a>): Rawkets is yet another Massively multiplayer game, submitted by <a href="http://twitter.com/#!/robhawkes" target="_blank">@robhawkes</a>. This one's a space-shooter game with Twitter login feature. So login and start blasting your fellow Tweeps out of the Twitterverse.</p>
                    </div>
                    <div class="left">
                        <a href="http://wordsquared.com" target="_blank"><img src="assets/images/detail-thumb-7a.jpg" width="356" height="218" alt="" /></a>
                        <a href="http://rawkets.com" target="_blank"><img src="assets/images/detail-thumb-7b.jpg" width="356" height="349" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 8</h1>
                <div id="day08" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 8th</h2>
                            <h3>&lt;video&gt; + &lt;canvas&gt; = ?</h3>
                        </hgroup>
                        <p>HTML5 &lt;video&gt; is coming on strong. It isn't quite a Flash video killer yet, but it's getting there fast! A few demos while we wait for the growing pains and codec chaos to subside.</p>
                        <p><a href="http://www.barbafan.de/html5video?video=tron" target="_blank">TRON Fan Movie filtered through HTML5</a><br/>Lessen the wait for TRON: Legacy on 12/17 and amuse yourself by messing with the video <a href="http://www.barbafan.de/html5video?video=tron" target="_blank">here</a>. Via <a href="http://twitter.com/#!/enzenhofer" target="_blank">@enzenhofer.</a></p>
                        <p><a href="http://html5doctor.com/demos/video-canvas-magic/demo1.html" target="_blank">video + canvas = magic</a><br/>Who you gonna call when you need another HTML5 &lt;video&gt; + &lt;canvas&gt; demo? PIZZA CATS!!!</p>
                        <p><a href="http://twitter.com/#!/html5doctor" target="_blank">HTML5 Doctor</a> prescribes <a href="http://html5doctor.com/video-canvas-magic/" target="_blank">this tutorial</a> for learning how all this is done.</p>
                    </div>
                    <div class="left">
                        <a href="http://www.barbafan.de/html5video?video=tron" target="_blank"><img src="assets/images/detail-thumb-8a.jpg" width="356" height="224" alt="" /></a>
                        <a href="http://html5doctor.com/demos/video-canvas-magic/demo1.html" target="_blank"><img src="assets/images/detail-thumb-8b.jpg" width="356" height="185" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 9</h1>
                <div id="day09" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 9th</h2>
                            <h3>Atomic HTML5</h3>
                        </hgroup>
                        <p>Knowing all the HTML5 elements is important, but listing them out is a bit dry for the HTML5 Advent(ure) calendar. Thanks to <a href="http://twitter.com/#!/joshduck" target="_blank">Josh Duck</a> for taking us on an adventure as he organizes the elements so nicely in a periodic table and provides an interactive feature to check a site's HTML5 element weight. The site has great tooltips with links for further reading.</p>
                        <p>Check our usage, we're legit <a href="http://joshduck.com/periodic-table.html?url=html5advent.com" target="_blank">http://joshduck.com/periodic-table.html?url=html5advent.com</a> rolling some semantic markup with &lt;article&gt;, &lt;section&gt;, &lt;header&gt;, &lt;footer&gt; and even &lt;hgroup&gt;.</p>
                        <p>Are any of your sites good examples chock full of HTML5 element goodness? <a href="mailto:submit@html5advent.com">Share them with us</a></p>
                    </div>
                    <div class="left">
                        <a href="http://joshduck.com/periodic-table.html" target="_blank"><img src="assets/images/detail-thumb-9.jpg" width="356" height="455" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 10</h1>
                <div id="day10" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 10th</h2>
                            <h3>Anti-ActionScript Heros</h3>
                        </hgroup>
                        <p>These Anti-ActionScript Heroes are raising the bar by merging great design with the latest HTML5 standards.</p>
                        <ul class="list-margin">
                            <li><a href="http://www.nevermindthebullets.com" target="_blank">nevermindthebullets.com</a><br/>
                            Kudos to the folks at <a href="http://www.steaw-webdesign.com" target="_blank">Steaw Web Design</a>, <a href="https://twitter.com/#!/sebdoncker" target="_blank">Sebastien Doncker</a>, and the rest of the crew who created this animated parallax masterpiece!</li>
                            <li><a href="http://chrome.graphicly.com/comics/167/read" target="_blank">HTML5 graphic.ly reader</a><br/>
                            Check out this awesome comic book reader built in HTML5. Make sure to click on "Graphic.ly Flow" mode. via <a href="http://twitter.com/#!/graphicly" target="_blank">@graphicly</a>. More books <a href="http://chrome.graphicly.com/comics" target="_blank">here</a>.</li>
                            <li><a href="http://benthebodyguard.com" target="_blank">benthebodyguard.com</a><br/>
                            While creating buzz for a new app, <a href="http://twitter.com/#!/nerdcomms" target="_blank">Nerd Communications</a> created a publicity monster. No PR is bad PR right? Read the <a href="http://www.fastcompany.com/1708233/ben-the-bodyguard" target="_blank">hype</a> and follow <a href="http://twitter.com/#!/benthebodyguard" target="_blank">@benthebodyguard</a>.</li>
                        </ul>
                    </div>
                    <div class="left">
                        <a href="http://www.nevermindthebullets.com" target="_blank"><img src="assets/images/detail-thumb-10a.jpg" width="356" height="146" alt="" /></a>
                        <a href="http://chrome.graphicly.com/comics/167/read" target="_blank"><img src="assets/images/detail-thumb-10b.jpg" width="356" height="139" alt="" /></a>
                        <a href="http://benthebodyguard.com" target="_blank"><img src="assets/images/detail-thumb-10c.jpg" width="356" height="140" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 11</h1>
                <div id="day11" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 11th</h2>
                            <h3>Canvas Rider</h3>
                        </hgroup>
                        <p>If you thought Agent 008 was an addicting HTML5 game, you'd better not visit <a href="http://canvasrider.com/" target="_blank">canvasrider.com</a>. Not only can you ride on countless custom tracks, you can create your own. 10 out of 10 in the time-suck category. They even have a Canvas Rider app in the <a href="https://chrome.google.com/webstore/detail/poknhlcknimnnbfcombaooklofipaibk" target="_blank">new Chrome Web Store!</a></p>
                        <p>Haven't had enough fun yet? Check out <a href="http://gopherwoodstudios.com/entanglement/" target="_blank">Entanglement</a> from <a href="http://twitter.com/#!/gopherwood" target="_blank">Gopherwood Studios</a></p>
                    </div>
                    <div class="left">
                        <a href="http://canvasrider.com/" target="_blank"><img src="assets/images/detail-thumb-11.jpg" width="356" height="410" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 12</h1>
                <div id="day12" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 12th</h2>
                            <h3>Blank Canvases</h3>
                        </hgroup>
                        <p>Feeling artistic? Check out these neat &lt;canvas&gt; canvases.</p>
                        <ul class="list-margin">
                            <li><a href="http://draw.2x.io" target="_blank">http://draw.2x.io</a><br/>(WebSocket browsers only)<br/>
                            <a href="http://twitter.com/#!/einaros" target="_blank">Einar Otto Stangvik</a> brings us this neat collaborative drawing tool using WebSockets. Don't be the guy who pulls out the eraser and ruins everybody's fun.</li>
                            <li><a href="http://bomomo.com" target="_blank">http://bomomo.com</a><br/>
                            Another drawing tool, but this one has some whacky brushes that make you want to keep on drawing!</li>
                        </ul>
                        <p>Both sites do need to clean up their <a href="http://www.w3schools.com/html5/tag_doctype.asp" target="_blank">&lt;!DOCTYPE&gt;</a></p>
                    </div>
                    <div class="left">
                        <a href="http://draw.2x.io" target="_blank"><img src="assets/images/detail-thumb-12a.jpg" width="356" height="191" alt="" /></a>
                        <a href="http://bomomo.com" target="_blank"><img src="assets/images/detail-thumb-12b.jpg" width="356" height="219" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 13</h1>
                <div id="day13" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 13th</h2>
                            <h3>HTML5 Cosmos</h3>
                        </hgroup>
                        <p>There are billions and billions of demos one could develop in HTML5. Here are two to amuse and enlighten in memory of Carl Sagan.</p>
                        <ul class="list-margin">
                            <li><a href="http://alteredqualia.com/canvasmol/#Caffeine" target="_blank">CanvasMol</a><br/>This 3D molecule visualizer from <a href="http://twitter.com/#!/alteredq" target="_blank">AlteredQualia</a> integrates cool molecular visualizations with great Web technology. Make sure you check out the different features like zooming, multi-axis drag/rotation and more.</li>
                            <li>Not into tiny microscopic molecules? Switch gears with <a href="http://twitter.com/#!/ie" target="_blank">IE9 Testdrive's</a> <a href="http://ie.microsoft.com/testdrive/Performance/Galactic/Default.html" target="_blank">Galactic demo</a>. Use IE9 Beta for awesome GPU powered graphics.</li>
                        </ul>
                    </div>
                    <div class="left">
                        <a href="http://alteredqualia.com/canvasmol/#Caffeine" target="_blank"><img src="assets/images/detail-thumb-13a.jpg" width="356" height="230" alt="" /></a>
                        <a href="http://ie.microsoft.com/testdrive/Performance/Galactic/Default.html" target="_blank"><img src="assets/images/detail-thumb-13b.jpg" width="356" height="180" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 14</h1>
                <div id="day14" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 14th</h2>
                            <h3>Print meets Web</h3>
                        </hgroup>
                        <p>Today we bring you special guest star CSS3 and downloadable fonts.</p>
                        <ul class="list-margin">
                            <li><a href="http://lostworldsfairs.com/atlantis/" target="_blank">lostworldsfairs.com/atlantis</a><br/>
                            <a href="http://twitter.com/#!/fchimero" target="_blank">Frank Chimero</a> needs no introduction, and neither should this great “Lost World's Fairs - Atlantis” site he designed. Just click and scroll. See you at the bottom.</li>
                            <li><a href="http://letteringjs.com/" target="_blank">letteringjs.com</a><br/>
                            The folks from <a href="https://twitter.com/#!/paravelinc" target="_blank">@paravelinc</a> bring us Lettering.js, “A jQuery plugin for radical web typography.”</li>
                            <li><a href="http://desandro.com/resources/curtis-css-typeface/" target="_blank">desandro.com/resources/curtis-css-typeface</a><br/>
                            Who needs downloadable fonts? Just build your own directly with CSS. Impressive work by <a href="http://twitter.com/#!/desandro" target="_blank">Dave Desandro</a>.</li>
                        </ul>
                    </div>
                    <div class="left">
                        <a href="http://lostworldsfairs.com/atlantis/" target="_blank"><img src="assets/images/detail-thumb-14a.jpg" width="356" height="130" alt="" /></a>
                        <a href="http://letteringjs.com/" target="_blank"><img src="assets/images/detail-thumb-14b.jpg" width="356" height="140" alt="" /></a>
                        <a href="http://desandro.com/resources/curtis-css-typeface/" target="_blank"><img src="assets/images/detail-thumb-14c.jpg" width="356" height="140" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 15</h1>
                <div id="day15" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 15th</h2>
                            <h3>HTML5 &lt;audio&gt;</h3>
                        </hgroup>
                        <p>HTML5 &lt;video&gt; gets all the love (err.. anti-Flash rebound affection), so we're dedicating today to the &lt;audio&gt; tag.</p>
                        <ul class="list-margin">
                            <li><a href="http://9elements.com/io/projects/html5/canvas/" target="_blank">9elements.com/io/projects/html5/canvas</a><br/>
                            The <a href="http://twitter.com/#!/9elements" target="_blank">@9elements</a> team keeps us all interested and entertained with their HTML5 twitter trend follower. Did you know they're using the &lt;audio&gt; tag to pump some ambient tunes into your headphones?</li>
                            <li><a href="http://yayquery.github.com/jquery-singalong/" target="_blank">yayquery.github.com/jquery-singalong</a><br/>
                            We just couldn't talk about the &lt;audio&gt; tag without shouting out to the <a href="http://twitter.com/#!/yayQuery" target="_blank">@yayQuery</a> team. Check out their singalong and download their plugin. Doot-doot-doo-doo-doot. View Source at <a 
                            href="http://yayQuery.com" target="_blank">yayQuery.com</a> for Bonus Point ASCII art. <a href="http://twitter.com/#!/paul_irish" target="_blank">@paul_irish</a>, you look M@hvel0us in ASCII.</li>
                        </ul>
                    </div>
                    <div class="left">
                        <a href="http://9elements.com/io/projects/html5/canvas/" target="_blank"><img src="assets/images/detail-thumb-15a.jpg" width="356" height="260" alt="" /></a>
                        <a href="http://yayquery.github.com/jquery-singalong/" target="_blank"><img src="assets/images/detail-thumb-15b.jpg" width="356" height="188" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 16</h1>
                <div id="day16" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 16th</h2>
                            <h3>HTML5 - WebGL</h3>
                        </hgroup>
                        <p>HTML5 advent has been chock full of Canvas-2d goodness... today we look at the future of 3D canvas and WebGL with no plug-ins required. A word of caution though, you need a bleeding edge browser for today's pick, either <a href="http://tools.google.com/dlpage/chromesxs" target="_blank">Chrome Canary</a> or <a href="http://www.mozilla.com/en-US/firefox/beta/" target="_blank">Firefox 4 Beta</a>, to have any chance at running these.</p>
                        <ul class="list-margin">
                            <li><a href="http://bodybrowser.googlelabs.com/body.html" target="_blank">Body Browser – Google Labs</a><br/>
                            It's like GoogleMaps for your guts... so here are <a href="http://bodybrowser.googlelabs.com/body.html#ui=1,0&amp;opa=s:0.37,m:1,sk:1,c:1,o:1,ci:1,n:1&amp;sel=Small_Intestine,1,1,0.3,0.2&amp;lab=Small_Intestine&amp;nav=0.37,104.6,160" target="_blank">directions to your small intestines!</a> Pretty awesome work by the team <a href="http://twitter.com/google" target="_blank">@google</a>.</li>
                            <li><a href="http://www.ambiera.at/copperlicht/demos/asteroid/" target="_blank">WebGL Asteroids</a><br/>
                            Ok, we prefer top-down shooters because we almost hurled flying around WebGL-powered Asteroids in 3D from <a href="http://twitter.com/#!/ambiera" target="_blank">@Ambiera</a>. The HTML5 &lt;audio&gt; powered techno soundtrack didn't help either.  If you are real glutton for CPU punishment try the <a href="http://www.ambiera.com/copperlicht/demos.html" target="_blank">Quake3 level demo</a>.</li>
                        </ul>
                    </div>
                    <div class="left">
                        <a href="http://bodybrowser.googlelabs.com/body.html" target="_blank"><img src="assets/images/detail-thumb-16a.jpg" width="356" height="328" alt="" /></a>
                        <a href="http://www.ambiera.at/copperlicht/demos/asteroid/" target="_blank"><img src="assets/images/detail-thumb-16b.jpg" width="356" height="145" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 17</h1>
                <div id="day17" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 17th</h2>
                            <h3>Stupid Awesome</h3>
                        </hgroup>
                        <p><a href="http://twitter.com/#!/jseidelin" target="_blank">Jacob Seidelin's</a> Twitter bio says "Doing stupid things with JavaScript so you don't have to." Forrest Gump's bio says "Stupid is as stupid does." If these demos are stupid, then stupid is the new awesome.</p>
                        <p>Today's pick is an HTML5 Audio Visualizer a la iTunes. Pick amongst 24 different visualizers and watch these tunes dance. We personally like <a href="http://www.nihilogic.dk/labs/pocket_full_of_html5/#presets/mario.js" target="_blank">Mario doing the Runningman</a>. Use FireFox 4 for HTML5 purity, though he's added in Flash fallback for everyone else.</p>
                        <p>While you're at <a href="http://blog.nihilogic.dk/" target="_blank">Jacob's site</a> make sure you check out his other demos, such as the <a href="http://www.nihilogic.dk/labs/webgl_musical_solar_system/" target="_blank">Musical Solar System</a>. (Requires WebGL enabled browser)</p>
                    </div>
                    <div class="left">
                        <a href="http://www.nihilogic.dk/labs/pocket_full_of_html5/#presets/tunnel.js" target="_blank"><img src="assets/images/detail-thumb-17a.jpg" width="356" height="429" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 18</h1>
                <div id="day18" class="daydetail-content">
                    <div class="right">
                            <h2>December 18th</h2>
                        <ul class="list-margin">
                            <li><a href="http://pirateslovedaisies.com" target="_blank">Pirates Love Daisies</a><br/>
                           Yesterday, plants were fighting zombies. Today, <a href="http://pirateslovedaisies.com" target="_blank">Pirates are protecting Daisies from a marauding band of rats, crabs, seagulls and octopi</a>.  Microsoft, in conjunction with <a href="http://twitter.com/#!/gskinner" target="_blank">Grant Skinner</a>, <a href="http://twitter.com/#!/pulpstudios" target="_blank">Pulp Studios</a> and team bring you this brand new addictive HTML5 tower-defense game that showcases what can be done with open web technologies.</li>
                        </ul>
                        <p>For bonus points, <a href="http://windows.microsoft.com/ie9" target="_blank">try playing in IE9</a> whose GPU acceleration powers smooth animations and enhanced ambient effects.</p>
                    </div>
                    <div class="left">
                        <a href="http://pirateslovedaisies.com" target="_blank"><img src="assets/images/detail-thumb-18a.jpg" width="356" height="350" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 19</h1>
                <div id="day19" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 19th</h2>
                            <h3>Spirit of Indiana</h3>
                        </hgroup>
                        <p><a href="http://twitter.com/codepo8" target="_blank">Christian Heilmann</a> brings us <a href="http://isithackday.com/spirit-of-indiana/" target="_blank">today's HTML5 demo</a> that integrates HTML5 &lt;video&gt; with maps and simple animation to re-create the Indiana Jones-esque travel/flight sequences. To create your own version, all you need is some basic HTML5 knowledge, a spontaneous acapella group and a quick search through Archive.org, Google Maps and Google Web Fonts.</p>
                        <p>After checking out the <a href="http://isithackday.com/spirit-of-indiana/" target="_blank">demo site</a>, see how to implement the effects using HTML5 and JavaScript at <a href="http://hacks.mozilla.org/2010/12/spirit-of-indiana-jones-syncing-html5-video-with-maps/" target="_blank">hacks.mozilla.org.</a> Follow <a href="http://twitter.com/#!/mozhacks" target="_blank">@mozhacks</a> to stay in the loop.</p>
                        <p>"You throw us  your demos, we'll throw you the whip!"</p>
                    </div>
                    <div class="left">
                        <a href="http://isithackday.com/spirit-of-indiana/" target="_blank"><img src="assets/images/detail-thumb-19a.jpg" width="356" height="430" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
                
                <section>
                <h1>Day 20</h1>
                <div id="day20" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 20th</h2>
                            <h3>FlowerOscope</h3>
                        </hgroup>
                        <p>Today we bring you more <a href="http://www.floweroscope.com/kaleidoscope/new" target="_blank">HTML5 &lt;canvas&gt; and &lt;audio&gt; goodness</a> from the <a href="http://twitter.com/#!/lasurprise" target="_blank">@LaSurprise</a> team. FlowerOscope features some great illustrations and accompanying HTML5 sound bytes. Don't overlook the design intricacies when the cursor is moved around. When you're done creating your piece, post it to a "family wall" and invite your friends to add to the wall.</p>
                        <p>Feel like creating your own &lt;canvas&gt; art from scratch? <a href="http://twitter.com/#!/mixonline" target="_blank">MIXOnline's</a> <a href="http://visitmix.com/labs/ai2canvas/" target="_blank">Ai &rarr; Canvas plug-in</a> allows you to export vector and bitmap art directly to &lt;canvas&gt;. Have you used it? <a href="mailto:submit@html5advent.com">Submit your stuff.</a></p>
                    </div>
                    <div class="left">
                        <a href="http://www.floweroscope.com/kaleidoscope/new" target="_blank"><img src="assets/images/detail-thumb-20a.jpg" width="356" height="350" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            <li>
            
                <section>
                <h1>Day 21</h1>
                <div id="day21" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 21st</h2>
                            <h3>Snowball Fight!</h3>
                        </hgroup>
                        <p>The folks at <a href="http://twitter.com/#!/revolver3" target="_blank">Revolver3</a> bring us today's fun Websocket-enabled multiplayer snowball fight, <a href="http://www.leroidelagarnotte.com/" target="_blank">Le Roi de la Garnotte</a> (or codename: Randy Johnson). Login with Facebook and start battling! Aim and walk with your mouse and use the spacebar to fire away!</p>
                      <p>For further reading on this "HTML5 Experiment," see the Revolver 3 <a href="http://hangar.revolver3.com/blog/2010/12/15/caught-by-the-buzz" target="_blank">blog entry</a> about the work.</p>
                      <p>HTML5 - c'est super! Even with Flash socket fallback.</p>
                    </div>
                    <div class="left">
                        <a href="http://www.leroidelagarnotte.com/" target="_blank"><img src="assets/images/detail-thumb-21a.jpg" width="356" height="350" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
           
           
            <li>
              <section>
                <h1>Day 22</h1>
                <div id="day22" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 22nd</h2>
                            <h3>Museum of Never Ending Art</h3>
                        </hgroup>
                        <p>As we get close to the finale of our HTML5 Advent(ure) calendar, there's one thing that we can tell about all of the individuals and teams featured so far: their innovation and collaboration is neverending and continues to push the limits of the open Web.</p>
                        
                        <p>So for today's demo, we bring you the MONA: <a href="http://www.museumofneverendingart.com" target="_blank">The Museum of Neverending Art</a>. This enormous canvas of user-submitted art still has many open spaces, so we recommend you go add your own inspiration.</p>
                    
                    <p>Do yourself a favor and try it in the <a href="http://windows.microsoft.com/ie9" target="_blank">IE9 beta</a> so you can appreciate the amazing zooming and scrolling abilities built with - yep, you guessed it - HTML5 and CSS3.</p>
                    
                    <p>Kudos to <a href="http://twitter.com/#!/systim" target="_blank">Tim Aidlin</a> and <a href="http://www.groupereflect.net" target="_blank">GroupeReflect</a> for this great site.</p>
                      
                    </div>
                    <div class="left">
                        <a href="http://www.museumofneverendingart.com/" target="_blank"><img src="assets/images/detail-thumb-22a.jpg" width="356" height="485" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            
            
            <li>
              <section>
                <h1>Day 23</h1>
                <div id="day23" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 23rd</h2>
                            <h3>Flight of the Navigator</h3>
                        </hgroup>
                        <p>Our previously scheduled Nice <a href="http://ie.microsoft.com/testdrive/HTML5/Blizzard/Default.html" target="_blank">SVG Snowman</a> and Naughty <a href="http://play.lostdecadegames.com/onslaught_arena/demo" target="_blank">8bit HTML5 game</a> have been bumped last-minute to bring you an impressive new demo - <a href="http://videos.mozilla.org/serv/mozhacks/flight-of-the-navigator/" target="blank">Flight of the Navigator</a>.</p>
					 
                        <p>This is some Blade Runner+TRON-esque WebGL + &lt;audio&gt; + &lt;video&gt; + &lt;canvas&gt; extravaganza which is - we repeat - not a video if you have the horse power to run it. Crazy stuff!  Read more from <a href="http://vocamus.net/dave/?p=1233" target="_blank">David Humphrey</a>.</p>
						
						<p>If Santa doesn't have you living on the browser bleeding edge with powerful hardware, watch the <a href="http://hacks.mozilla.org/2010/12/firefox4b8/" target="_blank">screen cast</a> instead.</p>
						
						
                                   
                    </div>
                    <div class="left">
                        <a href="http://videos.mozilla.org/serv/mozhacks/flight-of-the-navigator/" target="_blank"><img src="assets/images/detail-thumb-23_2.png" width="356" height="429" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
            
            
            <li>
              <section>
                <h1>Day 24</h1>
                <div id="day24" class="daydetail-content">
                    <div class="right">
                        <hgroup>
                            <h2>December 24th</h2>
                            <h3>HTML5-oh Snow Globe-o-matic.</h3>
                        </hgroup>
                        <p>Inspired by <a href="http://twitter.com/webreakstuff" target="_blank">@webreakstuff</a> and <a href="http://twitter.com/grahamlicence" target="_blank">@grahamlicence</a> who have some nice snow globes (<a href="http://blog.webreakstuff.com/2010/11/building-a-canvas-snowglobe/" target="_blank">here</a>, and <a href="http://demo.grahamlicence.co.uk/experiments/snowglobe/" target="_blank">here</a>), we decided to create our own model for you all for the final Advent(ure): <a href="http://www.html5advent.com/snowglobe/" target="_blank">Snow Globe 5-oh</a>. Sure it isn't the flashiest pirate, ninja, 3d dimensional, socket powered demo but it is our hand crafted HTML5 present to you to bring some open Web cheese to your friends (or enemies).</p>
                        
                        <p>So that's it folks 23 different demos, one plug from us with extra cheese and we are off for the year. Hope to see you in 2011!</p>
                        <p>Happy Holidays from <a href="http://twitter.com/#!/zingchart" target="_blank">@Zingchart</a></p>
                        <p>PS: The Grinch was spotted adding bugs to the globe-o-matic. Hang tight while we kick him out of Who-ville!</p>
                       
                        
                   </div>
                    <div class="left">
                        <a href="http://www.html5advent.com/snowglobe/" target="_blank"><img src="assets/images/detail-thumb-24a.jpg" width="356" height="430" alt="" /></a>
                    </div>
                </div>
                </section>
                
                <p class="top"><a href="#top">Back to Top</a></p>
            </li>
        
        </ul>
    </div>
    </article>
    <script type="text/javascript" src="http://html5advent.com/assets/scripts/jquery-min.js"></script>
<script type="text/javascript" src="http://html5advent.com/assets/scripts/jquery.cookie.js"></script>
<script type="text/javascript" src="http://html5advent.com/assets/scripts/common.js"></script>

<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
<script type="text/javascript">
try {
reinvigorate.track("1x530-84v4x7fule");
} catch(err) {}
</script>