<h1>Welcome</h1>
<p>
	This is your first time login page. Please check the inststrucion video! The instruction video, explains what Sallly can do for your business..
</p>
<p>
	<iframe width="420" height="315" src="http://www.youtube.com/embed/y-AXTx4PcKI" frameborder="0" allowfullscreen></iframe>
</p>
<%= link_to "Skip intro", goal_path, :class => "btn primary" %>